body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding: 15px;
  margin: 0 auto;
}

.section {
  padding: 60px 0 60px 0;
}
.section__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }
  .section {
    padding: 94px 0 94px 0;
  }
  .section__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
  }
}
.logo, .logo--white {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
}
.logo--white {
  color: #ffffff;
}
.logo--span {
  color: #2196f3;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item-list {
  display: none;
}
.navigation__links {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile__icon, .mobile__container, .mobile__button {
    display: none;
    overflow: hidden;
    position: absolute;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 15px 16px 15px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 83px;
  }
  .header__border {
    border-bottom: 1px solid #ececec;
  }
  .navigation__icon {
    fill: #757575;
  }
  .navigation__item-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 46px;
  }
  .navigation__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000000;
  }
  .navigation__item:hover, .navigation__item:focus {
    color: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__item--active {
    color: #2196f3;
  }
  .navigation__underline::after {
    content: "";
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    -webkit-transform: translateY(29px);
            transform: translateY(29px);
    display: block;
    border-radius: 2px;
  }
  .navigation__links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation__container--email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .navigation__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .navigation__address:hover, .navigation__links a:focus {
    color: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__address:hover .navigation__icon, .navigation__address:focus .navigation__icon {
    fill: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .mobile__icon, .mobile__container, .mobile__button {
    display: none;
    overflow: hidden;
    position: absolute;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px 24px 15px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 94px;
  }
  .header__border {
    border-bottom: 1px solid #ececec;
  }
  .navigation__icon {
    fill: #757575;
  }
  .navigation__item-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 46px;
  }
  .navigation__item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #000000;
  }
  .navigation__item:hover, .navigation__item:focus {
    color: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__item--active {
    color: #2196f3;
  }
  .navigation__underline::after {
    content: "";
    background-color: #2196f3;
    width: 100%;
    height: 4px;
    -webkit-transform: translateY(29px);
            transform: translateY(29px);
    display: block;
    border-radius: 2px;
  }
  .navigation__links {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__container--email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .navigation__address {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .navigation__address:hover, .navigation__links a:focus {
    color: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__address:hover .navigation__icon, .navigation__address:focus .navigation__icon {
    fill: #2196f3;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.first-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/section-background/section_background.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section-background/section_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first-section__header {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
}
.first-section__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}
.first-section__button:hover {
  background-color: #f5f4fa;
  color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-color: #f5f4fa;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .first-section {
    height: 600px;
  }
  .first-section__header {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    letter-spacing: 0.06em;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .first-section {
    background-size: auto;
    background-position: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/section-background/section_backgroundx2.jpg);
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/section-background/section_backgroundx2.jpg);
  }
}
.second-section {
  padding-top: 60px;
}
.second-section__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 0;
}
.second-section__item-list li {
  width: 450px;
}
.second-section__icon {
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-section h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  padding-top: 30px;
  text-align: left;
}
.second-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .second-section__icon {
    width: 354px;
    height: 120px;
  }
  .second-section__item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-section__item-list li {
    width: 354px;
    -ms-flex-preferred-size: calc((100% - 30px) / 3);
        flex-basis: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .second-section {
    padding-top: 94px;
  }
  .second-section__item-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-section__item-list li {
    width: 270px;
  }
  .second-section__icon {
    width: 270px;
    height: 120px;
  }
  .second-section h3 {
    text-align: left;
  }
}
.third-section {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .third-section {
    display: block;
    padding-bottom: 20px;
    padding-top: 94px;
  }
  .third-section__photo {
    padding: 0;
  }
  .third-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third-section__description {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: relative;
    top: -74px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding: 27px 90px;
  }
}
.fourth-section {
  background: #f5f4fa;
}
.fourth-section li {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.fourth-section h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
  letter-spacing: 0.03em;
  padding-top: 30px;
}
.fourth-section p {
  color: #757575;
  padding: 10px 0 16px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  letter-spacing: 0.03em;
}
.fourth-section__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 0 0 30px 0;
}
.fourth-section__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fourth-section__item-list li {
  width: 450px;
  height: 642px;
  -ms-flex-preferred-size: calc((100% - 30px) / 3);
      flex-basis: calc((100% - 30px) / 3);
}
.fourth-section__item-list img {
  width: 450px;
  height: 460px;
}
.fourth-section__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fourth-section__item:hover, .fourth-section__item:focus {
  background-color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-section__item:hover svg, .fourth-section__item:focus svg {
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-section__item svg {
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .fourth-section__item-list li {
    width: 354px;
    height: 536px;
  }
  .fourth-section__item-list img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .fourth-section__item-list li {
    width: 270px;
    height: 428px;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .fourth-section__item-list img {
    width: 270px;
    height: 260px;
  }
}
.fifth-section {
  padding-top: 60px;
}
.fifth-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 60px;
}
.fifth-section__container svg {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.fifth-section__item {
  display: block;
  margin: auto;
}
.fifth-section__icon {
  fill: #afb1b8;
  position: relative;
}
.fifth-section__icon:hover, .fifth-section__item:focus svg {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .fifth-section__container svg {
    width: 226px;
    height: 92px;
  }
  .fifth-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .fifth-section {
    padding-top: 94px;
  }
  .fifth-section__container {
    padding-bottom: 94px;
  }
  .fifth-section__container svg {
    width: 170px;
    height: 92px;
  }
  .fifth-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__header {
  margin-bottom: 20px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.modal__item-list {
  list-style: none;
}
.modal__item-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__item-list label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__item-list label:focus-within {
  fill: #2196f3;
}
.modal__container {
  padding: 40px;
}
.modal__icon {
  position: absolute;
  margin: 18px 16px;
}
.modal__input {
  padding: 12px 42px;
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin: 4px 0 10px 0;
}
.modal__input:focus-within {
  border-color: #2196f3;
  outline: none;
}
.modal__textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.modal__submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__custom {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.checkbox__custom {
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
}
.checkbox__input:checked + .checkbox__custom {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}
.checkbox__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: 0.03em;
}
.checkbox__span {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}

.is-hidden {
  visibility: hidden;
  opacity: 20%;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__input {
    width: 448px;
  }
  .checkbox__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}
.navbar {
  text-align: center;
  padding: 60px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navbar__button {
  padding: 6px 33px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border-style: solid;
  border: #2196f3;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
}
.navbar__button:hover, .navbar__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid {
  padding: 40px 0 60px 0;
}
.grid__image {
  position: absolute;
  overflow: hidden;
  width: 450px;
  color: #ffffff;
}
.grid__image-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.grid__image-list h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.grid__image-list li {
  width: 450px;
}
.grid__image-list p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.grid__image-list img {
  display: block;
  width: 450px;
}
.grid__image-list li:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 1px 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 1px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.grid__image-list li:hover .grid__animation {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.grid__animation {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: #2196f3;
  display: inline-block;
  position: relative;
  color: #ffffff;
  height: 294px;
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.grid__card--bottom {
  padding: 20px 24px 20px 24px;
}
.grid__card--bottom:nth-child(1) {
  padding-bottom: 56px;
  color: 0;
}
.grid .header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .grid__image {
    width: 354px;
  }
  .grid__image-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 15px;
  }
  .grid__image-list li {
    width: 354px;
    border: 1px solid #eeeeee;
  }
  .grid__image-list img {
    width: 354px;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .grid__image {
    width: 370px;
  }
  .grid__image-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 94px;
  }
  .grid__image-list li {
    width: 370px;
  }
  .grid__image-list img {
    width: 370px;
  }
  .navbar {
    padding: 94px 15px 50px 15px;
  }
  .navbar__button {
    padding: 6px 22px 6px 22px;
  }
}
.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}
.footer__container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__container--address {
  text-align: center;
}
.footer__container--joinus {
  margin: 0;
  margin-top: 60px;
  text-align: center;
}
.footer__container--newsletter {
  margin-top: 60px;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__icon {
  fill: #ffffff;
}
.footer__contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.193;
  letter-spacing: 0.03em;
  margin-top: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196f3;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.171;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
  font-style: normal;
}
.footer__header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer__container--joinus li, .footer__item {
  background: rgba(255, 255, 255, 0.1019607843);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.footer__container--joinus li:hover, .footer__item:focus {
  background-color: #2196f3;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__header {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.newsletter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.newsletter__input {
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px;
}
.newsletter__input:focus-within {
  border-color: #2196f3;
  outline: none;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  fill: #ffffff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container--address {
    width: 50%;
  }
  .footer__container--joinus {
    width: 50%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container--newsletter {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container--address {
    text-align: left;
  }
  .footer__container--joinus {
    margin-top: 12px;
    margin-left: 70px;
  }
  .footer__container--newsletter {
    margin-top: 12px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__contact {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .footer__header {
    text-align: left;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
  }
  .newsletter__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 78px;
    gap: 12px;
  }
  .newsletter__header {
    text-align: left;
    margin-left: 78px;
  }
}
.mobile__icon {
  position: absolute;
  top: 22px;
  right: 23px;
}
.mobile__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__button:hover {
  fill: #2196f3;
}
.mobile__container {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 48px 40px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.mobile__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 36px;
  padding-bottom: 302px;
}
.mobile__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.mobile__item:hover {
  color: #2196f3;
}
.mobile__item--active {
  color: #2196f3;
}
.mobile__close {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  right: 25px;
  top: 21px;
}
.mobile__close:hover {
  fill: #2196f3;
}
.mobile__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.mobile__address--number {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.176;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.mobile__address--email {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.mobile__social-media {
  margin-top: 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mobile__social-media a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  color: #2196f3;
}
.mobile__social-media a:nth-child(1) {
  padding-left: 0;
}
.mobile__social-media a:nth-child(4) {
  border: none;
}
.mobile__border {
  border-bottom: 1px solid #ececec;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}/*# sourceMappingURL=main.css.map */