:root {
  --blue: #2196f3;
  --grey: #757575;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 24px 15px;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.navbar-left-container {
  display: flex;
  align-items: center;
  gap: 93px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  letter-spacing: 0.03em;
}

.header-icon {
  fill: var(--grey);
}

.logo-span {
  color: var(--blue);
}

.nav-item-list {
  list-style: none;
  display: flex;
  gap: 46px;
}

.nav-bar-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000000;
}

.nav-bar-item:hover,
.nav-bar-item:focus {
  color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-underline::after {
  content: "";
  background-color: var(--blue);
  width: 100%;
  height: 4px;
  transform: translateY(29px);
  display: block;
  border-radius: 2px;
}

.navbar-active {
  color: var(--blue);
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 0;
  gap: 50px;
  align-items: center;
}

.nav-email-container {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey);
  text-decoration: none;
}

.nav-address:hover,
.nav-links a:focus {
  color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address:hover .header-icon {
  fill: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address:focus .header-icon {
  fill: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding: 94px 0 94px 0;
}

.first-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/section_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-section-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}
.first-section-button {
  width: 200px;
  height: 50px;
  background: var(--blue);
  border-radius: 4px;
  border-color: var(--blue);
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}

.first-section-button:hover {
  background-color: #f5f4fa;
  color: #000000;
  transition: 0.4s;
  border-color: #f5f4fa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.second-section {
  padding-top: 94px;
}

.second-section-item-list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.second-section-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  padding-top: 30px;
}

.second-section p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding-top: 10px;
}

.third-section {
  padding-bottom: 20px;
}

.third-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

.third-section-photo {
  padding: 0;
}

.third-section-photo-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.third-section-photo-description {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  top: -74px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 90px;
}

.fourth-section-background {
  background: #f5f4fa;
}

.fourth-section li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.fourth-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin: 30px 0 0px 0;
}

.fourth-section p {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding: 10px 0 25px 0;
  margin: 0;
}

.fourth-section-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 0 30px 0;
}

.fourth-section-item-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: center;
}

.fourth-section-icons-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourth-section-icons-item svg {
  fill: #afb1b8;
}

.fourth-section-icons-item:hover,
.fourth-section-icons-item:focus {
  background-color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-section-icons-item:hover svg,
.fourth-section-icons-item:focus svg {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section {
  padding-top: 94px;
}

.fifth-section-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 0 94px 0;
}

.fifth-section-logos-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-section-logos svg {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-fifth-section {
  fill: #afb1b8;
}

.icon-fifth-section:hover,
.fifth-section-logos-item:focus svg {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  visibility: hidden;
  opacity: 20%;
}

.modal-header {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15px;
  color: #212121;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--blue);
  border-color: var(--blue);
}

.modal-item-list {
  list-style: none;
}

.modal-item-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-container {
  padding: 40px;
}

.modal-icon {
  position: absolute;
  margin: 18px 16px;
}

.modal-input {
  padding: 12px 42px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin: 4px 0 10px 0;
}

.modal-item-list label:focus-within {
  fill: var(--blue);
}

.modal-input:focus-within {
  border-color: var(--blue);
  outline: none;
}

.modal-textarea {
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-checkbox {
  display: none;
}

.checkbox-custom {
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
}

.modal-checkbox:checked + .checkbox-custom {
  fill: white;
  background-color: var(--blue);
  border-color: var(--blue);
}

.modal-item-list label {
  color: var(--grey);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

.checkbox-text {
  font-size: 14px;
}

.modal-checkbox-span-text {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}

.modal-button-submit {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
  border: 0;
  margin-top: 30px;
  cursor: pointer;
}

.portfolio-main-section {
  padding-bottom: 94px;
}

.portfolio-navbar {
  text-align: center;
  padding: 94px 0 50px 0;
  display: flex;
  gap: 9px;
  justify-content: center;
}

.portfolio-nav-button {
  padding: 6px 22px 6px 22px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border-style: solid;
  border: var(--blue);
  font-weight: 500;
  font-size: 16px;
}

.portfolio-nav-button:hover {
  background-color: var(--blue);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.portfolio-image {
  position: absolute;
  overflow: hidden;
  width: 370px;
  color: white;
}

.portfolio-image-animation {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  position: relative;
  color: white;
  height: 294px;
  font-size: 18px;
  padding: 49px 45px 49px 24px;
  line-height: 1.56;
}

.portfolio-image-list li:hover .portfolio-image-animation {
  transform: translateY(0);
}

.portfolio-image-list h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio-image-list p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.portfolio-image-list img {
  display: block;
}

.portfolio-card-bottom {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.portfolio-image-list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image-hover-card {
  position: relative;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  width: 370px;
  height: 294px;
  top: -294px;
}

.main-footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}

.footer-container {
  display: flex;
}

.footer-card {
  width: 276px;
}

.icon-footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-footer {
  fill: #ffffff;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway";
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.193;
}

.footer-contact-container {
  margin-top: 9px;
}

.footer-contact {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.193;
  display: flex;
  margin-top: 9px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
  font-style: normal;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-joinus-container {
  width: 276px;
  margin: 0;
  margin-top: 12px;
}
.footer-joinus-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  margin: 0 0 20px 55px;
}

.footer-joinus-item-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: flex-end;
}

.footer-joinus-container li,
.icon-footer-item {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-joinus-container li:hover,
.icon-footer-item:focus {
  background-color: var(--blue);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter-container {
  margin-left: 78px;
  margin-top: 12px;
}

.footer-email-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer-email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff99;
  padding: 15px;
}

.footer-email-input:focus-within {
  border-color: var(--blue);
  outline: none;
}

.footer-email-button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  fill: white;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  cursor: pointer;
}
