body{
    background-color: #FFFFFF;
    color: #212121;
    font-family: "Roboto", "Raleway", sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.main-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 14px 0;
    border-bottom: 1px solid #ECECEC;
}

.navbar-left-container{
    display: flex;
    align-items: center;
    gap:93px;
}

.logo{
    font-weight: 700;
font-size: 26px;
line-height: 1.193;
color:#000000;
text-decoration: none;
font-family: 'Raleway';
letter-spacing: 0.03em;
}

.logo-span{
    color:#2196F3;
 }

.nav-item-list{
    list-style: none;
    display: flex;
    gap:46px;
}

.nav-bar-item{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
text-decoration: none;
color: #000000;
}

.nav-bar-item:hover{
    color:#2196F3;
}

.nav-links{
    list-style: none;
    display: flex;
    margin-right:0;
    gap:50px;
}

.nav-address{
    font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}

.nav-phone-number{
    font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}

.nav-links a:hover{
    color:#2196F3;
}

.nav-links a:focus{
    color:#2196F3;
}

.section{
    padding:94px 0 94px 0;
}

.first-section-background{
    background: #2F303A;
    padding: 200px 0;
}

.first-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first-section-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    cursor:pointer;
    color:#FFFFFF;
}

.first-section-button:hover{
    background-color:#F5F4FA;
    color:#000000;
    transition: 0.4s;
    border-color:#F5F4FA;
}

.first-section-header{
    font-weight: 900;
font-size: 44px;
line-height: 1.364;
color:#FFFFFF;
text-align: center;
}

.second-section{
    padding-top:94px;
}

.second-section-item-list{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

.second-section h3{
    font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
}

.second-section p{
    width: 270px;
height: 75px;
font-size: 14px;
line-height: 1.171;
letter-spacing: 0.03em;
color: #757575;
}

.third-section-header{
    font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
text-align: center;
padding: 0;
}

.third-section-photo-container{
    display: flex;
    gap:30px;
    justify-content: center;
}

.fourth-section-background{
    background: #F5F4FA;
}


.fourth-section li{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.fourth-section h3{
    font-weight: 500;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
}

.fourth-section p{
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
color: #757575;
}

.fourth-section-item-list{
    list-style: none;
    display: flex;
    gap:30px;
    padding: 0;
    justify-content: center;
}

.portfolio-main-section{
    padding-bottom: 94px;
}

.portfolio-navbar{
    text-align: center;
    padding: 94px 0 50px 0;
}

.portfolio-nav-button{
    width: 121px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
border-color: #F5F4FA;
cursor:pointer;
}

.portfolio-nav-button:hover{
    background-color:#2196F3;
    color:#FFFFFF;
    transition: 0.4s;
}

.portfolio-image-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    padding: 0;
}

.portfolio-image-list li{
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-image-list h3{
    font-weight: 700;
font-size: 18px;
letter-spacing: 0.06em;
line-height:2;
margin-left: 23px;
}

.portfolio-image-list p{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
margin-left: 23px;
}

.main-footer{
    background-color:#2F303A;
    color:#FFFFFF;
    padding: 60px 0;
}
.footer-logo{
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway';
    letter-spacing: 0.03em;
    color: #FFFFFF;
    line-height: 1.193;
}

.footer-contact{
font-size: 14px;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
line-height: 1.193;
}



.footer-address{
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    margin:20px 0 0 0;
}

.footer-contact:hover{
    color:#2196F3;
}

.footer-contact:focus{
    color:#2196F3;
}
