body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px 24px 15px;
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.navbar-left-container {
  display: flex;
  align-items: center;
  gap: 93px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  letter-spacing: 0.03em;
}

.header-icon {
  fill: #757575;
}

.logo-span {
  color: #2196f3;
}

.nav-item-list {
  list-style: none;
  display: flex;
  gap: 46px;
}

.nav-bar-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #000000;
}

.nav-bar-item:hover {
  color: #2196f3;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 0;
  gap: 50px;
  align-items: center;
}

.nav-email-container {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.nav-address:hover,
.nav-links a:focus {
  color: #2196f3;
}

.nav-address:hover .header-icon {
  fill: #2196f3;
}

.section {
  padding: 94px 0 94px 0;
}

.first-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/section_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-section-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}
.first-section-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}

.first-section-button:hover {
  background-color: #f5f4fa;
  color: #000000;
  transition: 0.4s;
  border-color: #f5f4fa;
}

.second-section {
  padding-top: 94px;
}

.second-section-item-list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 0;
}

.second-section-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  padding-top: 30px;
}

.second-section p {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}

.third-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

.third-section-photo-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.fourth-section-background {
  background: #f5f4fa;
}

.fourth-section li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.fourth-section h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  margin: 30px 0 0px 0;
}

.fourth-section p {
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 10px 0 25px 0;
  margin: 0;
}

.fourth-section-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 0 30px 0;
}

.fourth-section-item-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: center;
}

.fourth-section-icons-item svg {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.fourth-section-icons-item:hover,
.fourth-section-icons-item:focus {
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.fourth-section-icons-item svg:hover,
.fourth-section-icons-item svg:focus {
  fill: #ffffff;
  width: 44px;
  height: 44px;
}

.fifth-container {
  padding-top: 94px;
}

.fifth-container-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px 0 94px 0;
}

.fifth-container-logos svg {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-fifth-section {
  fill: #afb1b8;
}

.icon-fifth-section:hover,
.icon-fifth-section:focus {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

.portfolio-main-section {
  padding-bottom: 94px;
}

.portfolio-navbar {
  text-align: center;
  padding: 94px 0 50px 0;
  display: flex;
  gap: 9px;
  justify-content: center;
}

.portfolio-nav-button {
  padding: 6px 22px 6px 22px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  cursor: pointer;
  border-style: solid;
  border: #2196f3;
  font-weight: 500;
  font-size: 16px;
}

.portfolio-nav-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
}

.portfolio-image-list h3 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio-image-list p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-image-list img {
  display: block;
}

.portfolio-card-bottom {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.portfolio-image-list li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.main-footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 60px 0;
}

.footer-container {
  display: flex;
}

.footer-card {
  width: 276px;
}

.icon-footer {
  fill: #ffffff;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway";
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.193;
}

.footer-contact-container {
  margin-top: 9px;
}

.footer-contact {
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.193;
  display: flex;
  margin-top: 9px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
  font-style: normal;
}

.footer-contact:hover,
.footer-contact:focus {
  color: #2196f3;
}

.footer-joinus-container {
  width: 276px;
  margin: 0;
}
.footer-joinus-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  margin: 0 0 20px 70px;
}

.footer-joinus-item-list {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: flex-end;
}

.footer-joinus-container li {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footer-joinus-container li:hover,
.footer-joinus-container li:focus {
  background-color: #2196f3;
  cursor: pointer;
}
