@import "./utils/variables";
@import "./utils/mixins";

@import "./components/general";
@import "./components/logo";
@import "./components/header";
@import "./components/first-section";
@import "./components/second-section";
@import "./components/third-section";
@import "./components/fourth-section";
@import "./components/fifth-section";
@import "./components/modal";
@import "./components/portfolio";
@import "./components/footer";
