body{
    background-color: #FFFFFF;
    color: #212121;
    font-family: 'Roboto';
}

header span{
   color:#2196F3;
   
}

.logo{
    font-weight: 700;
font-size: 26px;
line-height: 31px;
color:black;
text-decoration: none;
font-family: 'Raleway';
letter-spacing: 0.03em;
}

nav li{
    list-style: none;
}

nav a{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
}

nav a:hover{
    color:#2196F3;
}

a:visited {
    color:black;
}

header>ul{
    list-style: none;
}

header>ul>li>a{
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}

header>ul>li>a:hover{
    color:#2196F3;
}

header>ul>li>a:focus{
    color:#2196F3;
}

header{
    border-bottom: 1px solid #ECECEC;;
}

.first-section{
    background: #2F303A;
}

.first-section button{
    width: 121px;
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: #F5F4FA;
    cursor:pointer;
}

.first-section button:hover{
    background-color:#2196F3;
    color:#FFFFFF;
    transition: 0.4s;
    border-color:#2196F3;
}

main h1{
    font-weight: 900;
font-size: 44px;
line-height: 136%;
color:#FFFFFF;
}

.second-section ul{
    list-style: none;
}

.second-section h3{
    font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
}

.second-section p{
    width: 270px;
height: 75px;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}

.third-section h2{
    font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
}

.fourth-section{
    background: #F5F4FA;
}

.fourth-section h2{
    font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
}

.fourth-section h3{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
}

.fourth-section p{
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #757575;
}

.fourth-section ul{
    list-style: none;
}

.portfolio-nav-bar button{
    width: 121px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;
border-color: #F5F4FA;
cursor:pointer;
}

.portfolio-nav-bar button:hover{
    background-color:#2196F3;
    color:#FFFFFF;
    transition: 0.4s;
}

main>ul>li{
    list-style: none;
    ;
}

main>ul>li>h3{
    font-weight: 700;
font-size: 18px;
letter-spacing: 0.06em;
line-height:200%
}

main>ul>li>p{
font-size: 16px;
line-height: 188%;
letter-spacing: 0.03em;
color: #757575;
}

footer{
    background-color:#2F303A;
    color:#FFFFFF;
}
#footer-logo{
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Raleway';
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

footer span{
color:#2196F3;
}

footer a{
font-size: 14px;
line-height: 24px;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
line-height:171%;
}

address{
    font-size: 14px;
    line-height:171%;
    letter-spacing: 0.03em;
}

footer a:hover{
    color:#2196F3;
}

footer a:focus{
    color:#2196F3;
}