.footer {
  background-color: $footer-color;
  color: $white-color;
  padding: 60px 0;
  &__container {
    display: flex;
    &--address {
      width: 276px;
    }
    &--joinus {
      width: 276px;
      margin: 0;
      margin-top: 12px;
    }
    &--newsletter {
      margin-left: 78px;
      margin-top: 12px;
    }
  }
  &__item {
    @include flex(center, center);
    &-list {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 0;
      justify-content: flex-end;
    }
  }
  &__icon {
    fill: $white-color;
  }
  &__contact {
    text-decoration: none;
    color: $footer-text-color;
    display: flex;
    @include font(14px, 400, 1.193, 0.03em);
    margin-top: 9px;
    &:hover,
    &:focus {
      color: $main-blue-color;
      @include animation;
    }
  }
  &__address {
    @include font(14px, 400, 1.171, 0.03em);
    margin: 20px 0 0 0;
    font-style: normal;
  }
  &__header {
    margin: 0 0 20px 55px;
    @include font(14px, 700, 1.142, 0.03em);
  }

  &__container--joinus li,
  &__item {
    background: $footer-icon-background;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  &__container--joinus li:hover,
  &__item:focus {
    background-color: $main-blue-color;
    cursor: pointer;
    @include animation;
  }
}

.newsletter {
  &__header {
    color: $white-color;
    margin-bottom: 20px;
    @include font(14px, 700, 1.14, 0.03em);
  }
  &__container {
    @include flex(center, center);
    gap: 12px;
  }
  &__input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $newsletter-input-border-color;
    border-radius: 4px;
    color: $footer-text-color;
    padding: 15px;
    &:focus-within {
      border-color: $main-blue-color;
      outline: none;
    }
  }
  &__button {
    width: 200px;
    height: 50px;
    background-color: $main-blue-color;
    fill: $white-color;
    color: $white-color;
    border: none;
    border-radius: 4px;
    @include flex(center, center);
    gap: 24px;
    cursor: pointer;
  }
}
