body {
  background-color: $white-color;
  color: $brighter-black-color;
  font-family: $main-fonts;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  padding: 94px 0 94px 0;
}
.section__header {
  @include font(36px, 700, 1.167, 0.03em);
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}
