body {
  background-color: $white-color;
  color: $brighter-black-color;
  font-family: $main-fonts;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding: 15px;
  margin: 0 auto;
}

.section {
  padding: 60px 0 60px 0;
  &__header {
    @include font(36px, 700, 1.167, 0.03em);
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding: 94px 0 94px 0;
  }
}
