.header {
  @include flex(space-between, center);
  &__container {
    display: flex;
  }
}

.navigation {
  &__item-list {
    display: none;
  }
  &__links {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile {
    &__icon,
    &__container,
    &__button {
      display: none;
      overflow: hidden;
      position: absolute;
    }
  }
  .header {
    @include flex(space-between, center);
    padding: 16px 15px 16px 15px;
    &__container {
      display: flex;
      align-items: center;
      gap: 83px;
    }
    &__border {
      border-bottom: 1px solid $header-border-color;
    }
  }

  .navigation {
    &__icon {
      fill: $main-grey-color;
    }
    &__item-list {
      list-style: none;
      display: flex;
      gap: 46px;
    }
    &__item {
      @include font(14px, 500, 1.2, 0.02em);
      text-decoration: none;
      color: $black-color;
      &:hover,
      &:focus {
        color: $main-blue-color;
        @include animation;
      }
      &--active {
        color: $main-blue-color;
      }
    }
    &__underline::after {
      content: "";
      background-color: $main-blue-color;
      width: 100%;
      height: 4px;
      transform: translateY(29px);
      display: block;
      border-radius: 2px;
    }
    &__links {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-right: 0;
      gap: 10px;
      align-items: flex-start;
    }
    &__container--email {
      display: flex;
      list-style: none;
      gap: 10px;
    }
    &__address {
      @include font(14px, 500, 1.2, 0.02em);
      color: $main-grey-color;
      text-decoration: none;
      @include flex(center, center);
      gap: 10px;
    }
    &__address:hover,
    &__links a:focus {
      color: $main-blue-color;
      @include animation;
    }
    &__address:hover &__icon,
    &__address:focus &__icon {
      fill: $main-blue-color;
      @include animation;
    }
  }
}

@media screen and (min-width: 1200px) {
  .mobile {
    &__icon,
    &__container,
    &__button {
      display: none;
      overflow: hidden;
      position: absolute;
    }
  }
  .header {
    @include flex(space-between, center);
    padding: 25px 15px 24px 15px;
    &__container {
      display: flex;
      align-items: center;
      gap: 94px;
    }
    &__border {
      border-bottom: 1px solid $header-border-color;
    }
  }

  .navigation {
    &__icon {
      fill: $main-grey-color;
    }
    &__item-list {
      list-style: none;
      display: flex;
      gap: 46px;
    }
    &__item {
      @include font(14px, 500, 1.2, 0.02em);
      text-decoration: none;
      color: $black-color;
      &:hover,
      &:focus {
        color: $main-blue-color;
        @include animation;
      }
      &--active {
        color: $main-blue-color;
      }
    }
    &__underline::after {
      content: "";
      background-color: $main-blue-color;
      width: 100%;
      height: 4px;
      transform: translateY(29px);
      display: block;
      border-radius: 2px;
    }
    &__links {
      list-style: none;
      display: flex;
      margin-right: 0;
      gap: 50px;
      align-items: center;
    }
    &__container--email {
      display: flex;
      list-style: none;
      gap: 10px;
    }
    &__address {
      @include font(14px, 500, 1.2, 0.02em);
      color: $main-grey-color;
      text-decoration: none;
      @include flex(center, center);
      gap: 10px;
    }
    &__address:hover,
    &__links a:focus {
      color: $main-blue-color;
      @include animation;
    }
    &__address:hover &__icon,
    &__address:focus &__icon {
      fill: $main-blue-color;
      @include animation;
    }
  }
}
