@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin font($size, $weight, $line-height, $spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $spacing;
}

@mixin animation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
