$main-blue-color: #2196f3;
$main-grey-color: #757575;
$white-color: #ffffff;
$brighter-black-color: #212121;
$black-color: #000000;
$inner-white-color: #f5f4fa;
$transparent-grey-color: rgba(47, 48, 58, 0.8);
$icon-grey-color: #afb1b8;
$modal-backdrop-color: rgba(0, 0, 0, 0.2);
$button-border-color: rgba(0, 0, 0, 0.1);
$input-border-color: rgba(33, 33, 33, 0.2);
$footer-color: #2f303a;
$footer-text-color: #ffffff99;
$footer-icon-background: #ffffff1a;
$newsletter-input-border-color: #ffffff4d;
$main-blue-transparent-color: #2196f3e6;
$portfolio-card-border-color: #eeeeee;

$main-fonts: "Roboto", "Raleway", sans-serif;
